services:
  frontend:
    container_name: janl_frontend
    build:
      context: ./uek223-gruppe2-frontend/react_frontend
      dockerfile: Dockerfile
    image: docker223-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    container_name: janl_backend
    build:
      context: ./uek223-gruppe2-backend/spring_backend
      dockerfile: Dockerfile
    image: docker223-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: janl_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
